.register{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
}
.registerWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.registerLeft, .registerRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.registerLogo{
    font-size: 50px;
    font-weight: bold;
    color:#177ccc;
}

.registerDesc{
    font-size: 20px;
}

.registerBox{
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registerInput{
    height: 50px;
    font-size: 20px;
    padding-left: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.registerInput:focus{
    outline: none;
}

.registerButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}



.registerRegisterButton{
    width: 60%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(15, 170, 66);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
}